<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="List.css">
  <style>
    html, body, div, p, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

/* This class is applied to the containing div <div class="nav"> and is used to set the background color and height of the navbar */
.nav {
  background: #000;
  height: 60px; /* set same as height & line-height below */
}

/* This rule centers the nav items verticaly in the bar with the height and line height properties. Spacing between the nav items is controlled by setting right and left padding.  */
.nav li {
  display: inline-block;
  list-style: none;
  height: 60px; /* should be the same as line-height */
  line-height: 60px; /* should be the same as height */
  padding: 0 40px; /* "0" sets top and bottom padding to none */
}

/* :hover allows you change the background color of the nav items when you mouse over them. Play around with the transition value to change the speed of the hover transition. */
.nav li:hover {
  background: red;
  transition: background .3s;
}

/* This rule is applied to the link <a> tag. It lets you turn off the link underline and set the link text color. */
.nav-link {
  color: #fff;
  text-decoration: none;
}


body {
  background-image: url("images/bg4.jpg");
  background-size: cover;
 }
      
</style>
</head>
<body>
  <div class="nav">
    <ul>
      <li><a href="profile" class="nav-link">Profile</a></li>
      <li><a href="policy.html" class="nav-link"><em>Policy</em></a></li>
      <li><a href="policyprod.html" class="nav-link">policy Products</a></li>
      <li><a href="Addproduct.html" class="nav-link">Add Product</a></li>
      <li><a href="Log-in.html" class="nav-link">Log Out</a></li>
    </ul>
  </div>
  <br>
  <br>
  <table>
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Amount
        </th>
        <th>
          Order
        </th>
        <th>
          Available
        </th>
        <th>
          Date
        </th>
        <th>
          Edit
        </th>
      </tr>
    </thead>
    <tbody>
      <%Prod.forEach(Prod=>{ %>
      <tr>
        <td>
          <p>
            <%= Prod.Name %>
          </p>
        </td>
        <td>
          <p>
            <%= Prod.Amount %>
          </p>
        </td>
        <td class='select'>
          <a class='button' href='#'>
            Select
          </a>
        </td>
        <td class = 'available'>
          <a class='button' href='#'>
            Yes
          </a>
          <br>
          <a class='button'href='#'>
            No
          </a>
        </td>
        <td>
          <form method="POST" action="/Editdate">
            <!--<input type="text" name="<%= Prod %>" /> -->
            <p>
              <%= Prod.Date %>
            </p>
            <input type="date" name="date1" value="date1"/>
            <input type="hidden" name="Prod" value='<%= JSON.stringify(Prod) %>' />
            <button type="submit">Submit</button>
          </form>
        </td>
        <td>
        <form method="POST" action="/Editamount">
          <!--<input type="text" name="<%= Prod %>" /> -->
          <input type="number" name="amount1" value="amount1"/>
          <input type="hidden" name="Prod" value='<%= JSON.stringify(Prod) %>' />
          <button type="submit">Submit</button>
        </form>
        </td>
      </tr>
      <%})%>
    </tbody>
  </table>
</body>
</html>


``
