<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            background-image: url("images/r.png");
            background-size: cover;
        }

        .navbar {
            background-color: #343a40;
            padding: 10px;
            display: flex;
            justify-content: space-between; /* Aligns items to the start and end of the navbar */
        }

        .navbar a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            transition: color 0.3s ease;
        }

        .navbar a:hover {
            color: #ff0000;
        }

        .container {
            margin-top: 20px;
        }

        .product-table {
            background-color: #fff;
        }

        .product-table th {
            background-color: #343a40;
            color: #fff;
            font-weight: bold;
        }

        .product-table td {
            padding: 8px;
        }

        .pick-button {
            background-color: #0a8435;
            color: #fff;
            border: none;
            padding: 6px 12px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .pick-button:hover {
            background-color: #0da323;
        }

        .input-container {
            display: flex;
            gap: 10px;
        }
        .navbar a {
            color: white;
        }
        .navbar a.logout {
            margin-left: auto;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Warehouse</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mydevices">My Devices</a>
                </li>
                <% if (user.Roll === 'Admin') { %>
                  <li class="nav-item">
                      <a class="nav-link" href="/orders">Orders</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/Addproduct.html">Add Product</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/ListProdAd">Products</a>
                  </li>
                <% } %>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link logout" href="/Log-out">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
      <h1>Available Products</h1>
      <table class="table table-striped table-bordered product-table">
          <thead class="thead-dark">
              <tr>
                  <th>Name</th>
                  <th>Available</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <% products.forEach(function(product) { %>
              <tr>
                  <td><%= product.Name %></td>
                  <td><%= product.availableAmount %> / <%= product.totalAmount %></td>
                  <td>
                      <form action="/Pick" method="POST">
                          <input type="hidden" name="productId" value="<%= product.Id %>">
                          <div class="input-group">
                              <input type="datetime-local" id="datetime-<%= product.Id %>" name="datetime-<%= product.Id %>" class="form-control">
                              <input type="number" id="amount-<%= product.Id %>" name="amount-<%= product.Id %>" min="0" max="<%= product.availableAmount %>" class="form-control">
                              <div class="input-group-append">
                                  <button type="submit" id="pick-button-<%= product.Id %>" class="btn btn-primary">Pick</button>
                              </div>
                          </div>
                      </form>
                  </td>
              </tr>
              <% }); %>
          </tbody>
      </table>
  </div>
  
</body>
</html>
