<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    <style>
        .navbar {
        background-color: #f2f2f2;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        }

        .navbar a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        }

        .navbar a:hover {
        color: #ff0000;
        }

    </style>
</head>
<body>
    <div class="navbar">
        <% if (user.Roll === 'Lecture') { %>
        <a href="/Profile-Service1">Profile</a>
        <% } else { %>
        <a href="/profile-cos">Profile</a>
        <% } %>
        <a href="/mydevices">My Devices</a>
        <a href="/Log-out">Logout</a>
    </div>
    <h1>Available Products</h1>
    <table class="product-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Available</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach(function(product) { %>
            <tr>
              <td><%= product.Name %></td>
              <td><%= product.availableAmount %> / <%= product.totalAmount %></td>
              <td>
                <form action="/Pick" method="POST">
                  <input type="hidden" name="productId" value="<%= product.Id %>">
                  <div class="action-container">
                    <input type="submit" value="Pick" id="pick-button-<%= product.Id %>" class="pick-button" >
                    <div class="input-container">
                      <input type="datetime-local" id="datetime-<%= product.Id %>" name="datetime-<%= product.Id %>">
                      <input type="number" id="amount-<%= product.Id %>" name="amount-<%= product.Id %>" min="0" max="<%= product.availableAmount %>">
                    </div>
                  </div>
                </form>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
      
      <style>
        .product-table {
          width: 100%;
          border-collapse: collapse;
          table-layout: fixed;
          text-align: center;
          background-color: #f9f9f9;
        }
      
        .product-table th,
        .product-table td {
          padding: 10px;
          border-bottom: 1px solid #ddd;
        }
      
        .product-table th {
          background-color: #f2f2f2;
        }
      
        .product-table tr:hover {
          background-color: #f5f5f5;
        }
      
        .action-container {
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
      
        .input-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      
        .input-container input {
          margin: 5px;
          padding: 5px;
          border: 1px solid #ddd;
          border-radius: 4px;
        }
      
        .pick-button {
          padding: 8px 16px;
          background-color: #4caf50;
          border: none;
          color: #fff;
          cursor: pointer;
          border-radius: 4px;
          transition: background-color 0.3s ease;
        }
      
      </style>
      
</body>
</html>
